.contain {
    display: flex;
    justify-content: space-evenly;
}

.youtube_logo2 {
    display: flex;
    justify-content: center;
    width: 6vh;
    height: 6vh;
}

.album_art2 {
    display: flex;
    justify-content: center;
    width: 25vh;
    height: 25vh;
}

.manualButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.youtube_link2 {
    display: flex;
    justify-content: center;
}

.display_content2 {
    display: flex;
    justify-content: center;
}

.contain2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middleContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}